:host {
  display: contents;
}

.info-image {
  grid-row: 2/4;
  grid-column: 2 / 8;
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.property-info {
  grid-row: 4 / 7;
  grid-column: 2 / 8;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 15px;

  .heading-4 {
    color: var(--color-black);
    font-size: 30px;
  }

  .type {
    color: var(--color-grey);
    font-size: 20px;
  }

  .more {
    color: var(--color-grey);
    font-size: 16px;
  }

  .price {
    color: var(--color-light-blue);
    font-size: 40px;
    font-weight: 700;
  }
}

.back {
  height: fit-content;
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  cursor: pointer;
  justify-self: center;
  transform: translateX(10px);

  .icon-back {
    fill: var(--color-black);
    width: 40px;
    height: 40px;
  }
}

.call {
  border: 0;
  outline: 0;
  background: var(--color-black);
  color: #fff;
  grid-row: 6 / 7;
  grid-column: 2 / 8;
  height: min-content;
  align-self: center;
  padding: 20px 60px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 5px;
}
