<div class="row">
                <ngx-charts-bar-vertical 
                    [view]="[1000,400]"
                    [customColors]="customColors"
                    [results]="saleData"
                    [xAxisLabel]="'Products'"
                    [legendTitle]="'Product Sale Chart'"
                    [yAxisLabel]="'Number'"
                    [legend]="false"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="false"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
</div>
