<!--
<div class="container">

    <div id="floating-panel">
        <input id="address" type="textbox" value="">
        <input id="submit" type="button" value="Find Nearest Store">
      </div>
      <div id="map"></div>
      <div id="directions-panel"></div>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

     
    <div id='location'>
        Your location will go here.
      </div>
      <div id='map-canvas'>
        Google Map will go here!.
      </div>
    <h1>Geolocation Demo</h1>
  
    <form id="geocoding_form" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <button type="button" class="find-me btn btn-info btn-block">Find My Location</button>
        </div>
      </div>
    </form>
  
    <p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>
    <p class="coordinates">Latitude: <b class="latitude">42</b> Longitude: <b class="longitude">32</b></p>
  
    <div class="map-overlay">
      <div id="map"></div>
    </div>
  
  </div>


 

  <button onclick='initialize();'>submit</button>
<div id="map-canvas"></div>-->


<div class="container" style="margin-left: 100px;">
<div class="legal">
  <div class="col-md-4 col-sm-12 col-xs-12">
     <a href="https://www.google.com/maps/place/Residence+El+Amen/@36.900832,10.1814776,16z/data=!4m13!1m7!3m6!1s0x12e2cb763f2120bb:0xc3e79593db50c2e8!2sLa+petite+Ariana,+Cebalat+Ben+Ammar!3b1!8m2!3d36.9006591!4d10.1857342!3m4!1s0x12e2cb75ffab7b81:0xc04bdcd14c35f693!8m2!3d36.9016975!4d10.1872897" target="_blank">
       <div id="map-tile">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6381.123428499599!2d10.181477624405076!3d36.900831999324055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb75ffab7b81%3A0xc04bdcd14c35f693!2sResidence%20El%20Amen!5e0!3m2!1sfr!2stn!4v1620470792307!5m2!1sfr!2stn" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         <span><font style="vertical-align: inherit;"></font></span>
       </div>
     </a>
   </div>
  </div>

<rl-maps2></rl-maps2>
