<div class="main">
  <div class="user">
    <div class="notification-bell">bell</div>
    <div class="user-info">
      <div class="avatar">avatar</div>
      <div class="user-name">Marie O.</div>
    </div>
  </div>
  <nav class="navigation">
    <div class="logo">
      <h3>Logo</h3>
    </div>
    <ul class="nav">
      <li
        class="nav__item"
        *ngFor="let menu of menuList"
        [routerLink]="menu.link"
        (click)="onNavigate(menu.link)"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive
        #routerLink="routerLinkActive"
        [class.menu-active]="routerLink.isActive"
      >
        <svg class="icon {{ menu.icon }}">
          <use attr.xlink:href="./assets/icons.svg#{{ menu.icon }}"></use>
        </svg>
        <a class="nav__link">{{ menu.name }}</a>
      </li>
    </ul>
    <div class="ad">
      <h2 class="heading-2">Upgrade to PRO account</h2>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="detail" [@detailPage]="openState">
    <router-outlet name="detail"></router-outlet>
  </div>
</div>
