<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">
    <img src="../../assets/city.png" style="width: 50px;"> DARI VORTEX
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/" routerLinkActive="active" class="nav-item nav-link active">Home</a>
        <a routerLink="/listings" routerLinkActive="active" class="nav-item nav-link active">Listings</a>
        <a routerLink="/contractp" routerLinkActive="active" class="nav-item nav-link active">Contract Pdf</a>
        <a routerLink="/visits" routerLinkActive="active" class="nav-item nav-link active">Visits</a>
        <a routerLink="/subscription" routerLinkActive="active" class="nav-item nav-link active">Subscription</a>
        <a routerLink="/subscriptionMang" routerLinkActive="active" class="nav-item nav-link active">Manage subscriptions</a>
      </div>  
     
  </div>
  <ngx-avatar name="Hamza"></ngx-avatar>  
</nav>
<div class="main" xmlns:attr.xlink="">
  <!-- <div class="user" #user>
    <div class="notification">
      <svg class="icon icon-bell">
        <use href="./assets/icons.svg#icon-bell"></use>
      </svg>
      <span class="notification__circle circle-active"></span>
    </div>
    <div class="user__info">
      <div class="circle-avatar">
        <img src="./assets/images/illustration.jpg" alt="" />
      </div>
      <div class="user-name">David O.</div>
    </div>
    <div class="dropdown">
      <svg class="icon icon-down">
        <use href="./assets/icons.svg#icon-chevron-small-down"></use>
      </svg>
    </div>
  </div> -->
  <nav class="navigation" style="width: 50px">
     
    <ul class="nav" #nav>
      <li
        class="nav__item"
        *ngFor="let menu of menuList"
        [routerLink]="menu.link"
        (click)="onNavigate(menu.link)"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive
        #routerLink="routerLinkActive"
        [class.menu-active]="routerLink.isActive"
      >
        <svg class="icon {{ menu.icon }}">
          <use attr.xlink:href="./assets/icons.svg#{{ menu.icon }}"></use>
        </svg>
        <a class="nav__link">{{ menu.name }}</a>
      </li>
    </ul>
 
  </nav>
  <router-outlet></router-outlet>
  <div class="detail" [@detailPage]="openState">
    <router-outlet name="d"></router-outlet>
  </div>
</div>

<!-- <rl-map></rl-map> -->
