<nav class="navbar navbar-expand-md navbar-light bg-light" style="
    margin-bottom: 0px;padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
">
  <a href="#" class="navbar-brand"   style="margin-bottom: 10px;">
   <img src="../../assets/city.png" style="width: 50px;">
  </a><h4>DARI VORTEX</h4>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse"  >
    <div class="navbar-nav" >
      <a routerLink="/" routerLinkActive="active" class="nav-item nav-link active"  cl>Home</a>
      <a routerLink="/listings" routerLinkActive="active" class="nav-item nav-link active">Listings</a>
      <a routerLink="/estimate" routerLinkActive="active" class="nav-item nav-link active">Estimate</a>
      <a routerLink="/historical" routerLinkActive="active" class="nav-item nav-link active">Historical</a>
      <!-- <a routerLink="/Claim" routerLinkActive="active" class="nav-item nav-link active">Claim</a>
      <a routerLink="/settings" routerLinkActive="active" class="nav-item nav-link active">Settings</a>
      -->
    </div>

          </div>
<ngx-avatar name="Adem"></ngx-avatar>
</nav>

<div class="main">


  <div class="user" #user>
    <div class="notification">
      <svg class="icon icon-bell">
        <use href=""></use>
      </svg>

    </div>
    <div class="user__info">
      <div class="">

      </div>

    </div>

  </div>

 <nav class="navigation" style="

    width: 1px;
">
    <div class="logo" #logo>

    </div>
    <ul class="nav" #nav>
      <li
        class="nav__item"
        *ngFor="let menu of menuList"
        [routerLink]="menu.link"
        (click)="onNavigate(menu.link)"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive
        #routerLink="routerLinkActive"
        [class.menu-active]="routerLink.isActive"
      >
        <svg class="icon {{ menu.icon }}">
          <use attr.xlink:href="./assets/icons.svg#{{ menu.icon }}"></use>
        </svg>
        <a class="nav__link">{{ menu.name }}</a>
      </li>
    </ul>
    <div class="ad" #ad>


    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="detail" [@detailPage]="openState">
    <router-outlet name="d"></router-outlet>
  </div>
</div>
