




<div class="container">
  <div class="row">
    <div class="col-md-6">


      <form id="monForm">
        <fieldset>

          <legend class="text-center"><h1>Deposit guarantee</h1><span class="req"><small>
                                 </small></span></legend>

          <div class="form-group">
            <label for="phoneNumber"><span class="req"> </span> phoneNumber: </label>
            <input class="form-control" type="text"  name="phoneNumber"  required
                   placeholder="Enter your phoneNumber" />
          </div>

          <div class="form-group">
            <label for="addressMail"><span class="req"> </span> Address email : </label>
            <input class="form-control" type="email"  name="addressMail"  required
                   placeholder="name@example.com" />
          </div>



          <div class="form-group">
            <label for="Payslips"><span class="req"> </span> Payslips: </label>
            <input type="file" class="form-control-file"   name="Payslips"/>
          </div>

          <div class="form-group">
            <label for="Engagement letter"><span class="req"> </span> Engagement letter: </label>
            <input type="file" class="form-control-file"   name="Engagement letter"/>
          </div>

          <div class="form-group">
            <label for="JP"><span class="req"> </span> Justification of payment: </label>
            <input type="file" class="form-control-file"  name="Justification of payment"/>
          </div>



          <div class="form-group">
            <input class="btn btn-success" type="button" name="submit_reg" value="Register">
            <p></p>
            <input class="btn btn-success" type="button" name="payment" value="Payment">
          </div>
        </fieldset>
      </form>
    </div>

  </div>
  <div class="detail" [@detailPage]="openState">
    <router-outlet name="d"></router-outlet>
  </div>
</div>
