
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div  class="body">
  <div class="cont" style="
  width: 700px;
">
    <div class="form sign-in" style="
    left: 10px;
">
       <img src="../../assets/il-password.png" style="width: 500px;margin-left: 60px;">
 <div class="aaaa">
                                <h1> <span style="text-transform:uppercase;margin-left: 160px;">Reset your password</span></h1>


                                <h4 style="margin-left: 63px;"><span>fill in your username and we'll send you a verification code to your email .</span></h4>

                              
 
  <input type="text"  class="form-control" placeholder="username" style="
  width: 402px;
  margin-left: 90px;
" [(ngModel)]="un">
<button type="button" id="button"class="btn btn-info" style="    margin-top: 20px;" (click)="entreUserN()">submit</button></div>
    
    </div>
 </div>
</div>
<div class="modal" id="addUser">
    <div class="modal-dialog">
      <div class="modal-content" style="
      top: 100px;
    ">
      
        <div class="modal-header">
          <h2 class="modal-title align-center">Change password</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
        
          <form [formGroup]="angForm" (ngSubmit)="change()" novalidate>
            
              
              
               
            <div class="form-group">
              
                    <div class="form-group">
                     <input type="password"  formControlName="Npwd" class="form-control"   placeholder="New Password" />
                     <div *ngIf="getControl.Npwd.touched && getControl.Npwd.invalid" class="text-danger">
                      <div *ngIf="getControl.Npwd.errors.required">password is required.</div>
                      <div *ngIf="getControl.Npwd.errors?.minlength">Minimum 5 character are required.</div>
                    </div>
                    </div>
                
                    <div class="form-group">
                   <input type="password"  formControlName="Cpwd" class="form-control" placeholder="Confirm Password"/>
             <div *ngIf="getControl.Cpwd.touched && getControl.Cpwd.invalid" class="text-danger">
                      <div *ngIf="getControl.Cpwd.errors.required">password is required.</div>
                      <div *ngIf="getControl.Cpwd.errors?.minlength">Minimum 5 character are required.</div>
                    </div>
                  </div>
             </div>
              <button type="submit" class="btn btn-primary" (click)="change()">OK</button>
            </form>
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div></div>
    <div class="modal" id="code">
        <div class="modal-dialog">
          <div class="modal-content" style="
          top: 100px;
        ">
          
            <div class="modal-header">
              <h3 class="modal-title align-center"><b>We sent the verification code to your email address</b></h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
         <div  style="margin-left: 130px;margin-top: 30px;margin-bottom: 30px;"> <label   style=" font-size: 14px; ">Code</label>
            <input type="text"  class="form-control"   [(ngModel)]="code" placeholder="xO3j" style="width: 226px;"/></div> 
            <!-- <div class="modal-body">
            
              <form [formGroup]="angForm" (ngSubmit)="onSubmit()" novalidate>
                
                  
                  
                   
                <div class="form-group">
                  
                        <div class="form-group">
                         <input type="password"  formControlName="Npwd" class="form-control"   placeholder="New Password" />
                         <div *ngIf="getControl.Npwd.touched && getControl.Npwd.invalid" class="text-danger">
                          <div *ngIf="getControl.Npwd.errors.required">password is required.</div>
                          <div *ngIf="getControl.Npwd.errors?.minlength">Minimum 5 character are required.</div>
                        </div>
                        </div>
                    
                        <div class="form-group">
                       <input type="password"  formControlName="Cpwd" class="form-control" placeholder="Confirm Password"/>
                 <div *ngIf="getControl.Cpwd.touched && getControl.Cpwd.invalid" class="text-danger">
                          <div *ngIf="getControl.Cpwd.errors.required">password is required.</div>
                          <div *ngIf="getControl.Cpwd.errors?.minlength">Minimum 5 character are required.</div>
                        </div>
                      </div>
                 </div>
                  <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div> -->
          
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" (click)="okcode()">OK</button>
            </div>
          </div>
        </div>
    </div>