.main {
  background: -webkit-linear-gradient(left, #fefefe, #24c0ef);
}
.navigation{
  background-color: rgba(247 247 252);
} 
.action{
  position: fixed;
  top:20px;
  right:30px;
}
.action .profile{
  position: relative;
  width: 60px;
  height:60px;

  overflow:hidden;
  cursor:pointer;

}

.photo{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.photo img{
  position: relative;
  top:0;
  left: 0;
 width: 100%;
 height: 100%;
object-fit: cover;
}
.action .menu{
  position: absolute;
  top: 120px;
  right: -10px;
  padding:10px 20px;
  background: white;
  width: 200px;
  box-sizing: 0 5px 25px rgb(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
 
}
.action .menu.active{
  top: 80px;
visibility: visible;
opacity: 1;

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
}
.action .menu::before{
content: '';
position: absolute;
top: -5px;
right: 28px;
width: 20px;
height:20px;
border-width: 1px;

background: #fff;
transform: rotate(45deg);


}

.action .menu h3{
  width: 100%;
  text-align: center;
  text-align: 18px;
  padding:20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;

}

.action .menu h3 span{
  width: 100%;
font-size: 14px;
color: #cecece;
  font-size: 14px;
  
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgb(0,0,0,0.05);
  direction: flex;
  align-items: center;
}

.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;

}

.action .menu ul li:hover img{
  opacity: 1;
}
.action .menu ul li a{
   display: inline-block;
   text-decoration: none;
   color: #555;
   font-weight: 500;
   transition: 0.5s;
}

.action .menu ul li:hover a{
 color: blue;
}