<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> 
<meta name='viewport' content='width=device-width, initial-scale=1'> 
<div  class="body">
  <div class="cont">
    <div class="form sign-in">
       
     
        <i class='fas fa-user-lock' style='font-size:48px;color:blue'></i>
   
        <h1>Complete Registration!</h1> 
        <h3>A verification email has been sent to {{Eemail}}</h3>
 
  
    
    </div>
 
</div>